/* lab1 */
.box {
  width: 200px;
  height: 100px;
  padding: 20px;
  border: 5px solid black;
  margin: 30px;
  background-color: lightblue;
}

/* lab2 */
.container {
  width: 80%;
  max-width: 500px;
  height: 150px;
  background-color: lightgreen;
  padding: 10px;
  margin: auto;
  text-align: center;
}


